{
  "env": {
      "browser":    true,
      "node":       true,
      "es2022":     true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "extends": "airbnb-base",
  "rules": {
    "no-implicit-coercion": "error",
    "no-process-env": "error",
    "no-path-concat": "error",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-use-before-define": ["error", { "functions": false }],
    "no-underscore-dangle": "off",
    "no-console": "off",
    "no-promise-executor-return": "off",
    "default-param-last": "off",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "function-paren-newline": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "rules": {
        "quotes": "off",
        "implicit-arrow-linebreak": "off",
        "no-process-env": "off"
      }
    }
  ]
}